 /* Reset Styles */

    html,
    body {
        margin: 0;
        padding: 0;
    }

    body {
        margin: 0;
        padding: 0px;
        width: 100%;
        height: 100%;
    }

    /* Global Styles */

    #topbar {
        margin: 0;
        padding: 0;
        background: blueviolet;
        /* margin-top: -1rem; */
        position: fixed;
        width: 100%;
        font: 
    }

    nav {
        background: blueviolet;
        color: white;
        /* text-align: right; */
        float: right;
        margin-right: 3rem;
    }

    nav li {
        display: inline-block;
        padding: 1rem 0.5rem;
    }

    nav li a {
        color: white;
        text-decoration: none;
    }
/* show how the navigation buttons will behave */
    nav li:hover {
        background:rgb(132, 0, 220);
        text-decoration: underline;
    }
/* the logo element */
    .logo {
        float: left;
        margin-top: 1rem;
        margin-left: 50px;
        color: white;
        font-size: 2rem;
        padding: 5px 10px;
        border: 2px solid #ccc;
    }

.logo a{
    text-decoration: none;
    color:#fff
}

    .title {
        font-size: 2em;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-align: center;
        margin-bottom: 1rem;
        color: blueviolet;
    }

    section {
        padding-top: 100px;
        min-height: 100vh;
    }

    #home,
    #resume,
    #contact {
        background: blueviolet;
        color: #fff;
    }

    #home .title,
    #resume .title,
    #contact .title {

        color: #fff;
    }
    .header{
      color: #ccc;
      font-family: Verdana, Geneva, Tahoma, sans-serif;  
      font-size: 30px; 
      font-style: bold;
      text-align: center;
    }

    .hr1{margin-top: 70px; 
        margin-left: 35%; 
        border-bottom: 5px solid #ccc;
    }

    .hr2{margin-top: -14px;
        margin-left: 53%; 
        border-bottom: 5px solid #ccc;
    }
    .hr11{margin-top: 70px; 
        margin-left: 35%; 
        border-bottom: 5px solid blueviolet;
    }
    .hr12{margin-top: -14px; 
        margin-left: 53%; 
        border-bottom: 5px solid blueviolet;
    }
    .star{
        margin-top:-55px;
        width: 5%;
        }
    .star2{
        margin-top: -48px;
        width: 5%;
    }

#page {
    margin: 10% 2%;
    float: center;
    width: 80%;
    border: 10px solid #ccc;
}
.comp{
    width: 150px;
    float: left;
    margin-left: 310px;
}
.develop{
    width: 140px;
    float: center;
    /* margin-left: 330px; */
}
.server{
    width: 150px;
    float: right;
    margin-right: 310px;
}
.profile-image {
    margin-left: 290px;
    height: 250px;
    width: 250px;
    border-radius: 200px;
    border: 5px solid #eee;
    float: left;
    }
.content {
    float: right;
    margin-right: 50px;
    height: 100px;
    display: inline-block;
}
.h5 {
    margin-top: 10px;
    margin-left: 22%;

}
.p2{
    margin-top: 35px;
    margin-left: 22%;
}
.p3{
    margin-top: -63px;
    margin-left: 72%;
}
.p4{
    margin-top: 2px;
    margin-left: 22%;
}
.uni{
    margin-top: 20px;
    width: 50px;
    float: left;
    margin-left: 210px;
    color: white;
    padding: 3px 3px;
    border: 1px solid #ccc;
    border-radius: 100px;
}
.icons{
    margin-top: 10px;
    /* margin-left: 320%; */
    width: 40px;
    float: center;


}
.footer{
 background-color: rgb(119, 0, 255);
 height: 80px;
 color: #cccc;
 margin-top: 300px;
 text-align: center;
 font-size: 14px;
 font-style: bold;
}
.port1{
    width: 150px;
}